<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getModel>
        <!-- Make sure we are inserted after Sitecore determines the model, but before the default one is created. -->
        <processor type="MvcNewsApp.Data.Pipelines.GetMappedModel, MvcNewsApp.Data" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.CreateDefaultRenderingModel, Sitecore.Mvc']"/>
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>
